body {
    margin: 0;
    padding: 0;
    background-color: rgba(246, 247, 248, 1);
}



.site-navigation {
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.header-title {
    display: flex;
    align-items: center;
}

.site-navigation-title {
    list-style-type: none;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 500px;
}

.site-navigation-item {
    list-style-type: none;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

.site-navigation .site-navigation-item:last-of-type {
    margin-right: 460px;
}

.site-navigation-link {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    margin-right: 40px;
}

.header-buttons {
    display: flex;
    align-items: center;
}



.general {
    border-top: 3px solid grey;
}



.cabinet {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}