.comp-room-container {
    display: flex;
    justify-content: center;
}
.comp-room {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.buttons-inline {
    display: inline-block;
}