body {
    margin: 0;
    padding: 0;
    background-color: rgba(246, 247, 248, 1);
}



.site-navigation {
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.header-title {
    display: flex;
    align-items: center;
}

.site-navigation-title {
    list-style-type: none;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 500px;
}

.site-navigation-item {
    list-style-type: none;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

.site-navigation .site-navigation-item:last-of-type {
    margin-right: 460px;
}

.site-navigation-link {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    margin-right: 40px;
}

.header-buttons {
    display: flex;
    align-items: center;
}



.contacts-info {
    background-color: rgba(41, 41, 41, 1);
    color: rgba(140, 140, 140, 1);
    margin: 0;
    padding: 0;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.people-contacts {
    display: flex;
    align-items: flex-end;
    margin-right: 70px;
}

.footer-contact {
    flex-direction: column;
    margin-right: 70px;
}

.footer-contact-title {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin-left: 70px;
}

.footer-text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}



.main-text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 293%;
}

.main-link {
    text-decoration: none;
    border: none;
    color: green;
}

.main-link:hover {
    color: darkgreen;
}

.general {
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
}