{% load static %}

<div class="comp-room-container">
    <img class="comp-room" src="{% static 'img/computers-room.png' %}" alt="Компьютеры">
</div>

    <h1>Компьютеры</h1>

{% if not computer_is_reserved %}
    <form action="{% url 'products:reserve_computer' computer_name=1 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Забронировать компьютер (1)">
    </form>
{% else %}    
    <form action="{% url 'products:reserve_delete' reservation_id=1 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Отменить бронь (1)">
    </form>
{% endif %}
{% if not computer_is_reserved %}
    <form action="{% url 'products:reserve_computer' computer_name=2 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Забронировать компьютер (2)">
    </form>
{% else %}    
    <form action="{% url 'products:reserve_delete' reservation_id=2 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Отменить бронь (2)">
    </form>
{% endif %}
{% if not computer_is_reserved %}
    <form action="{% url 'products:reserve_computer' computer_name=3 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Забронировать компьютер (3)">
    </form>
{% else %}
    <form action="{% url 'products:reserve_delete' reservation_id=3 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Отменить бронь (3)">
    </form>
{% endif %}
{% if not computer_is_reserved %}
    <form action="{% url 'products:reserve_computer' computer_name=4 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Забронировать компьютер (4)">
    </form>
{% else %}
    <form action="{% url 'products:reserve_delete' reservation_id=4 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Отменить бронь (4)">
    </form>
{% endif %}
{% if not computer_is_reserved %}
    <form action="{% url 'products:reserve_computer' computer_name=5 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Забронировать компьютер (5)">
    </form>
{% else %}    
    <form action="{% url 'products:reserve_delete' reservation_id=5 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Отменить бронь (5)">
    </form>
{% endif %}
{% if not computer_is_reserved %}
    <form action="{% url 'products:reserve_computer' computer_name=6 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Забронировать компьютер (6)">
    </form>
{% else %}    
    <form action="{% url 'products:reserve_delete' reservation_id=6 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Отменить бронь (6)">
    </form>
{% endif %}
{% if not computer_is_reserved %}
    <form action="{% url 'products:reserve_computer' computer_name=7 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Забронировать компьютер (7)">
    </form>
{% else %}    
    <form action="{% url 'products:reserve_delete' reservation_id=7 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Отменить бронь (7)">
    </form>
{% endif %}
{% if not computer_is_reserved %}
    <form action="{% url 'products:reserve_computer' computer_name=8 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Забронировать компьютер (8)">
    </form>
{% else %}    
    <form action="{% url 'products:reserve_delete' reservation_id=8 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Отменить бронь (8)">
    </form>
{% endif %}
{% if not computer_is_reserved %}
    <form action="{% url 'products:reserve_computer' computer_name=9 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Забронировать компьютер (9)">
    </form>
{% else %}    
    <form action="{% url 'products:reserve_delete' reservation_id=9 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Отменить бронь (9)">
    </form>
{% endif %}
{% if not computer_is_reserved %}
    <form action="{% url 'products:reserve_computer' computer_name=10 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Забронировать компьютер (10)">
    </form>
{% else %}    
    <form action="{% url 'products:reserve_delete' reservation_id=10 %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Отменить бронь (10)">
    </form>
{% endif %}