{% load static %}
<link rel="stylesheet" href="{% static 'css/computers-list.css' %}">
<div class="comp-room-container">
    <img class="comp-room" src="{% static 'img/computers-room.png' %}" alt="Компьютеры">
</div>

    <h1>Компьютеры</h1>

<form action="{% url 'products:reserve_computer' computer_name=1 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Забронировать компьютер 1">
</form>
<form action="{% url 'products:reserve_delete' reservation_id=1 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Отменить бронь">
</form>
<form action="{% url 'products:reserve_computer' computer_name=2 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Забронировать компьютер 2">
</form>
<form action="{% url 'products:reserve_delete' reservation_id=2 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Отменить бронь">
</form>
<form action="{% url 'products:reserve_computer' computer_name=3 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Забронировать компьютер 3">
</form>
<form action="{% url 'products:reserve_computer' computer_name=4 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Забронировать компьютер 4">
</form>
<form action="{% url 'products:reserve_computer' computer_name=5 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Забронировать компьютер 5">
</form>
<form action="{% url 'products:reserve_computer' computer_name=6 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Забронировать компьютер 6">
</form>
<form action="{% url 'products:reserve_computer' computer_name=7 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Забронировать компьютер 7">
</form>
<form action="{% url 'products:reserve_computer' computer_name=8 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Забронировать компьютер 8">
</form>
<form action="{% url 'products:reserve_computer' computer_name=9 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Забронировать компьютер 9">
</form>
<form action="{% url 'products:reserve_computer' computer_name=10 %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Забронировать компьютер 10">
</form>