{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'img/computer-mouse.ico' %}" type="image/x-icon">
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block main %}
    {% if user.is_authenticated %}
        <p class="main-text"> 2G - это крутой компьютерный клуб, <br>который предлагает уникальное пространство для геймеров и тех,<br> кто ценит высококачественный игровой опыт. Клуб оснащен самым современным оборудованием и высокоскоростным <br> интернетом 2G, чтобы обеспечить непревзойденную производительность в играх. От уютной атмосферы до отличного обслуживания,</p>
        <p class="main-text"><a class="main-link" href="{% url 'products:index' %}">Забронировать💻</a></p>
        <p class="main-text">2G создает идеальные условия для игрового опыта на высшем уровне не только для постоянных клиентов, но и для новоприбывших. <br> Здесь вы найдете единомышленников, готовых поделиться опытом и участвовать в захватывающих мероприятиях. <br> 2G - это не просто клуб, это центр геймерской культуры, где каждый <br> найдет что-то особенное для себя.</p>
    {% else %}
        <p class="main-text"> 2G - это крутой компьютерный клуб, <br>который предлагает уникальное пространство для геймеров и тех,<br> кто ценит высококачественный игровой опыт. Клуб оснащен самым современным оборудованием и высокоскоростным <br> интернетом 2G, чтобы обеспечить непревзойденную производительность в играх. От уютной атмосферы до отличного обслуживания,</p>
        <p class="main-text">Сначала вам нужно<span>&nbsp;</span><a class="main-link" href="{% url 'users:login' %}">войти🚪</a></p>
        <p class="main-text">2G создает идеальные условия для игрового опыта на высшем уровне не только для постоянных клиентов, но и для новоприбывших. <br> Здесь вы найдете единомышленников, готовых поделиться опытом и участвовать в захватывающих мероприятиях. <br> 2G - это не просто клуб, это центр геймерской культуры, где каждый <br> найдет что-то особенное для себя.</p>
    {% endif %}  
{% endblock %}