{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block main %}
    <p class="main-text"> 2G - это <strong>крутой компьютерный клуб</strong>, который предлагает уникальное пространство для геймеров и тех, кто ценит <i>высококачественный игровой опыт</i>. <br> Клуб оснащен самым современным оборудованием и высокоскоростным интернетом <i>2G</i>, чтобы обеспечить непревзойденную производительность и скорость в играх. <br> От уютной атмосферы до профессионального обслуживания, 2G создает идеальные условия для игрового опыта на высшем уровне. <br> Здесь вы найдете единомышленников, готовых поделиться опытом и участвовать в захватывающих мероприятиях. <i>2G</i> - это не просто клуб, это центр геймерской культуры, где каждый найдет что-то особенное для себя.</p>
    <p class="main-link"><a href="{% url 'products' %}">Забронировать</a></p>
{% endblock %}