<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/products.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Main</title>
</head>
<body>
    <header>
        <nav>
            <ul class="site-navigation">
                <div class="header-title">
                    <li class="site-navigation-title">
                        <a class="site-navigation-link" href="index.html">WIS</a>
                    </li>
                </div>
                <div class="header-buttons">
                    <li class="site-navigation-item">
                        <a class="site-navigation-link" href="BestStrategy.html">Лучшие стратегии</a>
                    </li>
                    <li class="site-navigation-item">
                        <a class="site-navigation-link" href="Calculator.html">Калькулятор</a>
                    </li>
                    <li class="site-navigation-item">
                        <a class="site-navigation-link" href="AboutUs.html">О нас</a>
                    </li>
                </div>
              </ul>
        </nav> 
    </header>
    <main class="general">
        <section>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>Шикарный текст про нас</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
        </section>
    </main>
    <footer>
        <div class="contacts-info">
            <h3 class="footer-contact-title">Контакты</h3>
            <div class="people-contacts">
                <div class="footer-contact">
                    <p class="footer-text">https://vk.com/tochnonedayn</p>
                    <p class="footer-text">https://t.me/JKanidy</p>
                    <p class="footer-text">jorakanidi@gmail.com</p>
                </div>
                <div class="footer-contact">
                    <p class="footer-text">https://vk.com/tochnonedayn</p>
                    <p class="footer-text">https://t.me/JKanidy</p>
                    <p class="footer-text">jorakanidi@gmail.com</p>
                </div>
                <div class="footer-contact">
                    <p class="footer-text">https://vk.com/tochnonedayn</p>
                    <p class="footer-text">https://t.me/JKanidy</p>
                    <p class="footer-text">jorakanidi@gmail.com</p>
                </div>
                <div class="footer-contact">
                    <p class="footer-text">https://vk.com/tochnonedayn</p>
                    <p class="footer-text">https://t.me/JKanidy</p>
                    <p class="footer-text">jorakanidi@gmail.com</p>
                </div>
                <div class="footer-contact">
                    <p class="footer-text">https://vk.com/tochnonedayn</p>
                    <p class="footer-text">https://t.me/JKanidy</p>
                    <p class="footer-text">jorakanidi@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>